name: build

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout xecrets-cli
        uses: actions/checkout@v4
        with:
          path: xecrets-cli

      - name: Checkout xecrets-net
        uses: actions/checkout@v4
        with:
          repository: B38LU9J3/xecrets-net
          path: xecrets-net

      - name: Setup .NET SDK
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: "8.0.x"

      - name: Restore
        run: dotnet restore xecrets-cli/src/Xecrets.Cli.sln

      - name: Build (Release)
        run: dotnet build xecrets-cli/src/Xecrets.Cli.sln -c Release --no-restore

      - name: Upload artefacts
        uses: actions/upload-artifact@v4
        with:
          name: build-output
          path: |
            xecrets-cli/**/bin/Release/**
