name: build

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest
    steps:
      - name: Checkout xecrets-cli
        uses: actions/checkout@v4
        with:
          path: xecrets-cli

      - name: Checkout xecrets-net
        uses: actions/checkout@v4
        with:
          repository: B38LU9J3/xecrets-net
          path: xecrets-net

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: "8.0.x"

      - name: Restore
        working-directory: xecrets-cli
        run: dotnet restore

      - name: Build (Release)
        working-directory: xecrets-cli
        run: dotnet build -c Release --no-restore
